.jumbotron{ color: #FFFFFF; /*background-color:none !important;*/ }


} .box-shadow--16dp 

{ box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2) }

.videoWrapper { position: relative; padding-bottom: 51.25%; /* 21

:9 */ padding-top: 25px; height: 0; } .videoWrapper iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }


body {
     background-image: url("Download/bg.jpeg");
     background-size: cover;
}
      